*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#html,body{
    width: 100%;
}
#main{
   
    width: 100%;
}
#nav{
    width: 100%;
    height: 60px;
     background-color: #F6F6EE;
    position: relative;
}
#nav h3{
    font-weight: 100;
}
span{
    font-weight: 900;

}
#link{
    position: absolute;
    top: 2%;
    left: 80%;
   
     
}
#link a{
   
    text-decoration: none;
    padding: 5px 5px;
    color: black;
}
#text{
   
    text-align: center;
    width: 100%;
   font-family: voyage;
   
 
}
#text h1{
    padding:5px;
    position: absolute;
    left: 20%;
    top: 5%;
}
#text p{
    padding: 10px;
    position: absolute;
    top: 15%;
    left: 20%;
}
button{
     background-color: black;
    color: white;

    position: absolute;
    top: 30%;
    left: 33%;
}
img{
    width: 100%;
    height:100%;
    background-position:center;
    background-size: cover;
   
  
}
#desc{
    height:40%;
    width: 100%;
    background-color: #F6F6EE;
}